@import 'styles/global/colors';

.textfield {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DFDFDF;
    background-color: $refColor;
    caret-color: $themeColor;
}
  
.textfield:focus {
    border: 1px solid $focusColor;
}

.textfield.wrong { 
    border-color: $wrongColor; 
}

.inputWrapper {
    position: relative;
}

.eye {
	width: 20px;
	height: 17px;
	position: absolute;
	right: 15px;
	top: 50%;
    transform: translateY(-50%);
	cursor: pointer;
}