/*Specification*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.3s ease;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    outline: none;
	transition: 0.3s ease;
}

*:focus {
	outline: none;
	transition: 0.3s ease;
}

*:hover {
	transition: 0.3s ease;
}

h1 {
	font-size: 34px;
	font-weight: 600;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

ul, li {
	display: block;
}

p {		
	font-size: 14px;
}

a {
  	color: $refColor;
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

button {
	border: none;
}