/*Ui*/

// Buttons
.mainBtn {
	width: 207px;
}

.signinBtn {
	width: 200px;
	margin: 20px auto 20px;
}

.signupBtn {
	width: 324px;
	margin-bottom: 20px;
}

.profileBtn {
	width: 200px;
	margin-top: 30px;
}

.profileBtn_right {
	margin-left: auto;
}

// Inputs
.formInput {
	margin-top: 20px;
}

.inputPass {
	display: inline-block;
	width: 49.5% !important;
	margin-right: 4%;
}

.inputMail {
	width: 46.5% !important;
}

.downloadInput {
	font: 400 18px 'Open Sans', sans-serif;
	background-color: #E5E5E5 !important;
	border: 1px solid;
	padding: 12px !important;
	height: 52px;
}

.downloadInput_title {
	margin-bottom: 12px;
	color: $greyColor;
	overflow: hidden;
	&:focus{
		color: $greyColor;
	}
}

.downloadInput_standart { 
	width:100%;
	max-width: 1089px;
	min-height: 52px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	color: $greyColor;
	caret-color: $themeColor;
	outline: none;
	resize: none;
}

.downloadInput::-webkit-scrollbar {
	width: 0px;
}

.downloadInput_standart:focus {
	color: $greyColor;
    border: 1px solid $focusColor;
}

.downloadInput_standart.wrong { 
    border-color: $wrongColor; 
}

// Accessibility ui
.hidden {
	opacity: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}