@import 'styles/global/colors';

.avatar__content {
    min-width: 170px;
    margin-left: 30px;   
    position: relative;
}

.nick {
    display: flex;
    align-items: center;
    &__value {
        display: block;
        max-width: 600px;
        overflow: hidden;
        white-space: nowrap;
        font: 600 24px 'Open Sans', sans-serif;
        color: #252525;
        cursor: pointer; 
        caret-color: $themeColor;
        &_width {
            width: 264px;
            text-overflow: ellipsis;
        }
    }
    &:hover {
        .edit {
            opacity: 1;
        } 
    }
}

.description {
    display: flex;
    height: 21px;
    margin-top: 3px;
    align-items: center;
    &__value {
        display: block;
        min-width: 15px;
        max-width: 600px;
        overflow: hidden;
        white-space: nowrap;
        font: 400 14px 'Open Sans', sans-serif;
        color: $greyColor; 
        cursor: pointer;
        caret-color: $themeColor;
        &_width {
            width: 264px;
            text-overflow: ellipsis;
        }
    } 
    &:hover {
        .edit {
            opacity: 1;
        } 
    }
}

.edit {
    display: inline-block;
    margin-right: auto;
    width: 21px;
    height: 21px;
    background:  url("/navigation/pencilSimple.svg") no-repeat center / cover;
    margin-left: 10px; 
    opacity: 0; 
    cursor: pointer;
    &_active {
        display: inline-block;
        margin-right: auto;
        width: 21px;
        height: 21px;;
        background:  url("/navigation/pencilSimpleActive.svg") no-repeat center / cover;
        margin-left: 10px;
        cursor: pointer;
    }
}
