@import 'styles/global/vars';

.errorPage {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%)
}

.title {
    color: $themeColor;
    font-size: 308px;
    font-weight: 600;
}

.text {
    font-size: 29px;
    font-weight: 600;
}